body{
    font-family: 'The Nautigal', cursive;
    font-size: 30px;
    margin: 0;
}
.ektu-bhaab{
    border-left: 2px solid;
    border-radius: 1%;
    border-color: tomato;
}
.golden-col{
    color: goldenrod;
}
.flex-cont{
    display: flex;
    margin-bottom: 150px;
}
.width-balance{
    width: 50%;
    padding: 10%;
}
.width-balance img{
    width: 125%;
    border-radius: 28px;
}
.link-button{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-weight: 800;
    padding: 10px 30px ;
    text-align: center;
}
.allign{
    text-align: center;
}

.bg-change1{
    background-color: cyan;
    border-radius: 8px;
    padding: 2%;
    margin: 50px 20px;
    color: black;
}
.bg-change1 img{
    width: 40%;
}

.bg-change2{
    background-color: thistle ;
    border-radius: 8px;
    padding:2%;
    margin: 50px 20px;
    color: black;
}
.bg-change2 img{
    width: 40%;
}
.bg-change3{
    background-color: rgb(184, 67, 43) ;
    border-radius: 8px;
    padding: 2%;
    margin: 50px 20px;
    color: black;
}
.bg-change3 img{
    width: 40%;
}
.finisher{
text-align: center;
background-color: black;
margin:0;
}